<!DOCTYPE html>
<html lang="en">
<head>
 {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        label{
            color:rgb(40, 5, 73);
            margin-left:200px;
        }
    </style>
</head>
<body>
    <div class="basic">
        {% include "volunteerhome.html" %}
    </div>
    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" enctype="multipart/form-data" action="/requestvictim4/" id="signup-form" class="signup-form">
                        {% csrf_token %}
                        <h2 class="form-title">Request Applicant</h2>
                        <div class="form-group">
                            <label>applicant id</label>
                            <input type="text" required="required" class="form-input" name="victim_id" id="victim_id" value="{{items1.tbl_victim_id}}"/>
                        </div>
                        <div class="form-group">
                           <label> volunteer id</label>
                            <input type="text" required="required" class="form-input" name="volunteer_id" id="volunteer_id" value="{{uid}}"/>
                        </div>
                        <div class="form-group">
                            <input type="text" required="required" class="form-input" name="request" id="request" placeholder="Enter Request"/>
                        </div>
                        <div class="form-group">
                            <input type="date" required="required" class="form-input" name="request_date" id="request_date" placeholder="Date"/>
                        </div>

                        
                        <div class="form-group">
                            <input type="submit" name="request_submit" id="request_submit" class="form-submit" value="Add"/>
                        </div>
                    </form>
                    
                </div>
            </div>
        </section>

    </div>

  
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>