<html>
    <head>
        {% load static %}
        <div class="basic">
            {% include "adminhome.html" %}
        </div>
        <link rel="stylesheet" href="{% static 'table_css/table.css' %}">

    </head>
    <body>
        <table id="customers">
            <tr>
                  <th>volunteer_name</th>
                  <th>volunteer_address</th>
                  <th>volunteer_age</th>
                  <th>volunteer_city</th>
                  <th>volunteer_location</th>
                  <th>volunteer_photo</th>
                  <th>volunteer_email</th>
                  <th>volunteer_number</th>
                  <th>
                      
                  </th>
            </tr>
             {% for ct in items2 %}
             <tr>
                 <td>{{ ct.tbl_volunteer_name}}</td>
                 <td>{{ ct.tbl_volunteer_address}}</td>
                 <td>{{ ct.tbl_volunteer_age}}</td>
                 <td>{{ ct.tbl_volunteer_city}}</td>
                 <td>{{ ct.tbl_volunteer_location}}</td>
                 <td><img src="{{ ct.tbl_volunteer_photo}}" width="100" height="100"></td>
                 <td>{{ ct.tbl_volunteer_email}}</td>
                 <td>{{ ct.tbl_volunteer_number}}</td>
                 <td><a href="/verifyrequest3/{{ ct.tbl_volunteer_id }}">Allot</a></td>
                 {% endfor %}
             </tr>
             </table>
    </body>
</html>