<html>
    <head>
        {% load static %}
        <div class="basic">
            {% include "donorhome.html" %}
        </div>
        <link rel="stylesheet" href="{% static 'table_css/table.css' %}">

    </head>
    <body>
        <table id="customers">
           <tr>
                 <th>Applicant_id</th>
                 <th>volunteer_id</th>
                 <th>request</th>
                 <th>request_date</th>
                 <th>

                 </th>
                 <th></th>
           </tr>
            {% for ct in items2 %}
            <tr>
                <td>{{ ct.tbl_victim_id}}</td>
                <td>{{ ct.tbl_volunteer_id}}</td>
                <td>{{ ct.tbl_request}}</td>
                <td>{{ ct.tbl_request_date}}</td>
                <td><a href="/viewrequest3/{{ ct.id }}">Donation</a></td>
                <td><a href="/viewvolunteer/{{ ct.tbl_volunteer_id }}">Volunteer Details</a></td>
                {% endfor %}
            </tr>
            </table>
    </body>
</html>